@page
@model RegisterModel
@{
    Layout = "_LayoutEmpty";
    ViewData["Title"] = "Registro";
}

<section id="wrapper" class="login-register login-sidebar" style="background-image:url(../assets/images/background/login-register.jpg);">
    <div class="login-box card">
        <a href="javascript:void(0)" class="text-center db">
            <img src="~/assets/images/Logo-UniSL-Large.png" alt="Home" class="img-responsive" /><br />
        </a>

        <h3 class="box-title m-t-40 m-b-0 text-center">Cadastre-se agora</h3><small class="text-center">Informe seus dados corretamente</small>

        <div class="card-body">
            <form asp-route-returnUrl="@Model.ReturnUrl" id="loginform" method="post" class="form-horizontal form-material">
                <div class="form-group m-t-20">
                    <input asp-for="Input.Nome" class="form-control" placeholder="Nome Completo" required title="nome obg">
                    <div class="invalid-feedback">
                        Insira seu nome completo.
                    </div>
                </div>
                <div class="form-group ">
                    <input asp-for="Input.Cpf" class="form-control" placeholder="Cpf" required minlength="14">
                </div>
                <div class="form-group ">
                    <input asp-for="Input.Email" class="form-control" placeholder="Email" required>
                </div>
                <div class="form-group ">
                    <input asp-for="Input.Celular" class="form-control" placeholder="Celular" required>
                </div>
                <div class="form-group ">
                    <input asp-for="Input.Senha" class="form-control" placeholder="Senha" required minlength="6">
                </div>
                <div class="form-group">
                    <input asp-for="Input.SenhaConfirmacao" class="form-control" placeholder="Repita sua Senha" required minlength="6">
                </div>
                <div class="form-group">
                    <div class="checkbox checkbox-primary p-t-0">
                        <input id="checkbox-signup" type="checkbox">
                        <label for="checkbox-signup"> Eu concordo com os <a href="#">Termos de Uso</a></label>
                    </div>
                </div>
                <div class="form-group text-center m-t-20">
                    <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Cadastrar</button>
                </div>
            </form>
            <hr />
            <div class="form-group">
                <p class="text-center">
                    Já tem uma conta? <br />
                    <a asp-page="./login" class="text-info m-l-5"><b>Login</b></a>
                </p>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/assets/plugins/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
    <script>
        $('#Input_Cpf').mask('000.000.000-00', { clearIfNotMatch: true });
        $('#Input_Celular').mask('(99) 9 9999-9999');
    </script>
}

