.user-profile .profile-img {
    width: 50px;
    margin-left: 30px;
    padding: 23px 0;
    border-radius: 100%;
}

    .user-profile .profile-img::before {
        top: 23px;
    }

.user-profile .profile-text {
    padding: 0px 0px;
    font-size: 0.8rem;
}

    .user-profile .profile-text > a {
        color: aliceblue !important;
        background: rgba(0, 0, 0, 0.2);
    }
